* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #091921;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(to right, #e6e2f0, #ede9f3); */
    background-color: #091921;
}

.what_todo {
    width: 90vw;
    padding: 1rem;
    font-size: 1.1rem;
    margin: 0.3rem;
    border: none;
    /* border-bottom: 2px solid grey; */
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.05), 6px 6px 16px rgba(0, 0, 0, 0.3), inset 6px 6px 16px rgba(255, 255, 255, 0.05), inset -6px -6px 16px rgba(0, 0, 0, 0.3);
}

input {
    background-color: black;
    color: white;
}

.what_todo:focus {
    outline: none;
}

.add {
    width: 4.5rem;
    padding: 0.7rem;
    font-size: 1.1rem;
    margin: 1rem;
    border-radius: 1.1rem;
    color: white;
    background-color: red;
}

.dates {
    display: flex;
    justify-content: space-between;
    font-size: 2.3rem;
    margin: 0.2rem;
    color: white;
}

.app {
    margin-top: 1rem;
}

.todo__list {
    display: flex;
    /* color: white; */
    justify-content: space-between;
    flex-direction: column;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0.5rem;
    /* flex-direction: column; */
    background-color: white;
    width: 40vw;
}

.hide {
    padding: 0.2rem;
    font-size: 2rem;
}

.right {
    color: red;
    align-self: flex-start;
}

.left {
    /* align-self: flex-start; */
}

.divide {
    display: flex;
    /* align-content: space-between; */
    /* align-items: space-between; */
    justify-content: space-between;
}

.clear {
    width: 60vw;
    position: absolute;
    bottom: 0.5rem;
    left: 20vw;
    margin-top: 0.5rem;
    height: 3rem;
}

.hidden {
    display: none;
}