* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #091921;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #091921;
}

.what_todo {
    width: 90vw;
    padding: 1rem;
    font-size: 1.1rem;
    margin: 0.3rem;
    border: none;
    border-radius: 0.6rem;
    font-family: "Lobster", cursive;
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.05), inset 3px 3px 7px rgba(0, 0, 0, 0.3);
}

::placeholder {
    font-size: 2rem;
    position: relative;
    top: 0.2rem;
}

.input {
    display: flex;
}

input {
    /* background-color: black; */
    background-color: #02080a;
    color: white;
}

.what_todo:focus {
    outline: none;
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.05), 6px 6px 16px rgba(0, 0, 0, 0.3), inset 6px 6px 16px rgba(255, 255, 255, 0.05), inset -6px -6px 16px rgba(0, 0, 0, 0.3);
}

button {
    border: none;
    cursor: pointer;
}

.add {
    width: 4.5rem;
    padding: 0.7rem;
    font-size: 1.1rem;
    margin: 1rem;
    border-radius: 1.1rem;
    color: white;
    background-color: rgb(233, 16, 16);
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.12), 6px 6px 16px rgba(0, 0, 0, 0), inset 6px 6px 16px rgba(255, 255, 255, 0.12), inset -6px -6px 16px rgba(0, 0, 0, 0);
}

.add:active {
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.12), inset 3px 3px 7px rgba(0, 0, 0, 0);
}

.add:hover {
    transform: scale(1.02);
}

.dates {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 0.4rem;
    color: #e00429;
    font-family: "Orbitron", sans-serif;
}

.app {
    margin-top: 1rem;
    color: white;
    font-weight: bolder;
    font-family: serif;
    font-size: 2.5rem;
    opacity: 1;
}

.todo__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.712);
    width: 40vw;
    border-radius: 4px;
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.05), inset 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.todo:hover {
    box-shadow: -6px -6px 16px rgba(63, 37, 37, 0.1), 6px 6px 16px rgba(0, 0, 0, 0.3), inset 6px 6px 16px rgba(255, 255, 255, 0.25), inset -6px -6px 16px rgba(0, 0, 0, 0.2);
}

.hide {
    padding: 0.2rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-family: "Lobster", cursive;
}

.delete {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
}

.delete:hover {
    background-color: red;
    transform: translate(0.1rem, -0.05rem);
}

.divide {
    display: flex;
    justify-content: space-around;
}

.right {
    align-self: flex-start;
}

.clear {
    width: 30vw;
    position: absolute;
    bottom: 0.5rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    height: 2.5rem;
    background-color: #c31432;
    align-self: center;
    border-radius: 1rem;
}

.clear:hover {
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}